body {
    font-family: ORC-A, monospace;
    text-align: center;
    background-color: black;
}
h1 {
    color: chartreuse;
    text-align: center;
}
p {
   color: chartreuse;
   text-align: center;
}

h2 {
    color: chartreuse;
}

