body {
    font-family: ORC-A, monospace;
    text-align: center;
    background-image: url(https://foolofatook1.github.io/sprites/gifs/scenery.gif);
}
h1 {
    color: chartreuse;
    text-align: center;
}
p {
   color: chartreuse;
   text-align: center;
}

h2 {
    color:chartreuse;
}

h3 {
    color: chartreuse;
}


